<h1>Kml Documents</h1>
<ul>
  <% @kml_documents.each do |doc| %>
    <li><%= link_to(doc.name, kml_document_path(doc)) %></li>
  <% end %>
</ul>

<%= link_to('New KML Document', new_kml_document_path) %>
