<h1>Kml Document</h1>
<ul>
  <% @kml_document.placemarks.each do |placemark| %>
    <li>Placemark: <%= render(partial: 'placemark', locals: { placemark: placemark }) %></li>
  <% end %>
</ul>

<%= link_to('Back', kml_documents_path) %>
